* {
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#sketchContainer {
    box-sizing: content-box;
    border: 3px solid red;
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
}

.squareDiv {
    border: 1px dotted black;
}

.btn,
.eraseBtn,
.blackBtn,
.rgbBtn,
.resetBtn {
    background-color: #adb5bd;
    border: 1px solid #6c757d;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 100%;
    padding: 11px 15px 12px;
    text-align: center;
    width: 100%;
}

.btn:focus,
.eraseBtn:focus,
.blackBtn:focus,
.rgbBtn:focus,
.resetBtn:focus {
    background-color: #6c757d;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 3px solid darkgrey;
    background-color: #dee2e6;
    padding: 32px 96px;
}

h1 {
    color: #021d1f;
}