* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sketchContainer {
    box-sizing: content-box;
    border: 3px solid red;
    width: 832px;
    height: 832px;
    display: flex;
    flex-wrap: wrap;
}

.squareDiv {
    border: 1px solid black;
    height: 52px;
    width: 52px;
}